<mat-toolbar>
  <span class="title-center" style="color: rgb(22, 127, 146);font-size: bold;font-size: 35px">{{header}}</span>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- userId Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell style="width:5%;" *matHeaderCellDef mat-sort-header> UserId </th>
    <td mat-cell *matCellDef="let element">
      <span class="badge">{{element.userId}}</span>
      <img style="height: 40px;width: 40px" src="https://cdn4.iconfinder.com/data/icons/pretty_office_3/256/Edit-Male-User.png"
        alt="Userimg"> </td>
  </ng-container>

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell style="width:5%;" fxFlex="50px" *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element">
      <span class="badge" style="margin-top:-15px;"> {{element.id}}</span>
    </td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell style="width:20%;" *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element">
      <b style=" color: #024457;">{{element.title}} </b>
    </td>
  </ng-container>

  <!-- body Column -->
  <ng-container matColumnDef="body">
    <th mat-header-cell style="width:60%;" *matHeaderCellDef mat-sort-header> Story </th>
    <td mat-cell *matCellDef="let element" class="story">
      <span> {{element.body}} </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-toolbar *ngIf="!dataSource.data.length">
  <span class="title-center" style="color:orangered;font-size: bold;font-size: 35px">No Data Found</span>
</mat-toolbar>
